.c-globals{
    position: fixed; /* Fixed/sticky position */
    bottom: 85px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 100; /* Make sure it does not overlap */
    box-shadow: none;

    &:hover, &:focus{
        box-shadow: none;
    }

    & button.btn-floating{
        font-size: 1.5em;
        width: 3rem;
        height: 3rem;
        background: $primary-color;
        color: whitesmoke;
        box-shadow: none;

        &:hover, &:focus{
            background: $primary-color-dark;
            color: gainsboro;
        }
    }

    & .c-scroll-to-top {
        display: none !important; /* Hidden by default */

    }
}