.c-mobile-nav{
	padding: 0;
	.custom-logo-link{
		padding: 0%;
	}
	& .custom-logo{
		width: 70px;
	}

	& .btn.c-sidenav__openbtn{
		background: orange;
		color: white;

		&:hover, &:focus{
			background: $secondary-color;
		}
	}
}
